<div class="">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to MockTumblr</h1>
    <h2 class="home">...</h2>
    <%= link_to "Login with Tumblr", "/auth/tumblr", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
