<div class="vertical-center">
  <div class="container">
    <br>
    <br>
    <h1 class="brand">Welcome to MockTumblr</h1>
    <br>
    <br>
    <br>
    <div class="navbar navbar-default">
      <%= link_to "Login with Tumblr", "/auth/tumblr", class: "btn btn-lg btn-default btn-home center-block" %>
    </div>
  </div>
</div>
